<div class="card m-2" style="box-sizing: border-box; width: 270px;">
    <img class="card-img-top img-fluid" src={{caminhoImagem}} alt={{nome}}>
    <div class="card-body form-group">
        <h4 style="margin-bottom: 0">{{nome}}</h4>
        <p class="text-muted" >{{categoria}}</p>
        <h5 class="text-success">R$ {{preco}}</h5>

        <input type="number" name="carrinho[{{id}}][quantidade]" class="input-spinner" placeholder="0" min="0">
        <input type="hidden" name="carrinho[{{id}}][id-produto]" value="{{id}}">

    </div>
</div>